// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "adminto";

@import "~toastr/toastr";

@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~datatables.net-responsive-bs4/css/responsive.bootstrap4.css";
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4.css";
@import "~datatables.net-select-bs4/css/select.bootstrap4.css";

@import "~cropperjs/src/css/cropper";

.toast-top-right {
    top: 82px;
    right: 12px;
}
